In [2]:
%pylab inline

import pyart
import pandas as pd
import numpy as np
import seaborn as sns

import datetime as dt

import sys, os

Populating the interactive namespace from numpy and matplotlib

/home/icrisologo/.conda/envs/pyart/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

#### Load data

In [3]:
pdo_datfile = 'pdo_anomaly.csv'
enso_datfile = 'enso34_anomaly.csv'
radar_datfile = 'KMUX_MeltingLayer_heights.csv'
era5_datfile = 'ERA5_MeltingLayer_height.csv'

df_pdo = pd.read_csv(pdo_datfile)
df_enso = pd.read_csv(enso_datfile)
df_radar = pd.read_csv(radar_datfile)
df_era5 = pd.read_csv(era5_datfile)

/home/icrisologo/.conda/envs/pyart/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [4]:
df_radar.head(5)

/home/icrisologo/.conda/envs/pyart/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

     DateTime  DateTime.1  MeltingLayerHeight Location    Year
0  1996-01-15  1996-01-15                 NaN      sea  1996.0
1  1996-01-16  1996-01-16            0.439833      sea  1996.0
2  1996-01-17         NaN                 NaN      NaN     NaN
3  1996-01-18  1996-01-18            0.357545      sea  1996.0
4  1996-01-19  1996-01-19            0.928733      sea  1996.0

In [5]:
df_enso.head(5)

/home/icrisologo/.conda/envs/pyart/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

   Unnamed: 0  Year  Month  ENSO3.4_anomaly
0           0  1996   10.0            26.27
1           1  1997   10.0            29.08
2           2  1998   10.0            25.25
3           3  1999   10.0            25.48
4           4  2000   10.0            26.02